.navbar {
    position: absolute;
}

.main-img img{
    width: 100%;
    height: 630px;
}
.navbar-brand{
    background-color: black;

}
.navbar-light .navbar-toggler {
margin-right: 30px;
}
.info-photo p{
    font-size: 60px;
    position: absolute;
    top: 150px;
    right: 50px;
    color: white;
    font-weight: 50;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}
.info span{
    font-size: 30px;
    opacity: 0.7;
    font-weight: 100;
}
.info1{
    margin-top: 30px;
    display: flex;
}
.info-card1{
    width: 50%;
    height: 300px;
    background-color: rgba(197, 192, 185, 0.726);
}
.info-card1 p{
    padding: 50px;
    font-weight: 500;
}
.info-card1 span{
    padding-left: 50px;
}
.info-card2 img{
    height: 300px;
    width: 700px;
}
.happy{
    padding-left: 30px;
}
.row{
 margin-top: 50px;   
}
.buttonmore{
margin-top: 30px;
margin-left: 500px;
margin-bottom: 30px;
}
.buttonmore button{
    width: 190px;
    border-radius: 0%;
    font-weight: 500;
}
.img1 img{
    width: 100%;
    height: 500px;
}
.img1 h3{
    position: absolute;
    top: 2000px;
    padding-left: 250px;
    padding-right: 250px;
    color: white;
}
.col img{
    width: 300px;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.col1{
    display: flex;
    flex-direction: column;
}
.photo2{
    display: flex;
    flex-direction:row ;
}
.photo1 img{
    height: 300px;
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.photo2 img{
    height: 200px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.photo{
    margin: 30px;
    margin-left: 115px;
    margin-right: 115px;
}
.futter{
    display: flex;
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 300px;
}
.futter1{
    padding: 40px;
}
.futter1 p{
    font-weight: 500;
}
.futter1 a{
    text-decoration: none;
    color: black;
}
.futter2 p{
    font-weight: 500;
}
.futter2 a{
    text-decoration: none;
    color: black;
}
.futter2{
    padding: 40px;
}
.futter3 p{
    font-weight: 500;
}
.futter3{
    padding: 40px;
}
.futter4{
    padding: 40px;
    
}
.futter4 p{
    font-weight: 500;
}
.futter4 button{
    margin: 10px;
    margin-left: 0px;
    font-weight: 500;
}